page-myorders {
  table{
    border: 1px solid grey;
    table-layout: auto;
  }
  table thead tr{
    border: 1px solid grey;
    background-color: #f7f9fa;
    color: #666;
  }
  table thead tr td{
    border: 1px solid grey;
    text-align: center;
  }

  table tbody tr{
    border: 1px solid grey;
    background-color: #f7f9fa;
    color: #666;
  }
  table tbody tr td{
    border: 1px solid grey;
    text-align: center;
  }

  .productCost{
    color: mediumvioletred;
  }

}
