<ion-header>
  <ion-navbar>
      <ion-buttons end>
        <button ion-button icon-only (click)="finishingCart()">
          <div *ngIf="hasProduct">
            {{savedItems.length}}
          </div>
          <ion-icon  name="cart">
          </ion-icon>
        </button>
      </ion-buttons>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>محصولات</ion-title>

  </ion-navbar>
</ion-header>
<!---->
<ion-content style="text-align: right">
  <ion-searchbar
    [(ngModel)]="myInput"
    [showCancelButton]="shouldShowCancel"
    (ionInput)="searchItems($event)"
    (ionCancel)="onCancel($event)"
    cancelButtonText="لغو"
    cancelButtonText="جست و جو">
  </ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let item of items;let i = index;">
      <table>
        <tr>
          <td><img width="100px" src="{{item.fileSource}}"></td>
          <td>
            <ul>
              <li *ngFor="let properties  of item.properties">
                <span style="font-size: small">{{properties.value}}</span>
              </li>
            </ul>
          </td>
        </tr>
      </table>
      <table width="100%">
        <tr>
          <td><button icon-only ion-button (click)="itemTapped($event,item)"><ion-icon name="cart"></ion-icon></button></td>
          <td width="25%"><h2>{{item.cost}}</h2></td>
          <td width="25%"><span style="font-size: small">تومان</span></td>
        </tr>
      </table>
      <ion-item>
        <ion-input type="number" placeholder="تعداد" min="0" [(ngModel)]="item.qty" (change)="setOrderTotalPrice(i)"></ion-input>
        <ion-input readonly [(ngModel)]="item.totalPrice" ></ion-input>
      </ion-item>
      <!--<button ion-item (click)="itemTapped($event,item)">-->
    </ion-item>
  </ion-list>
</ion-content>
