.watermark {
  opacity: 0.95;
  //color: #be4041;
  color: white;
  position: absolute;
  top:10%;
  margin-top:-10px;
  margin-right:10px;
  text-align: center;
  border-radius: 50px 20px;
  border: 2px solid #f06856;
  background-color: #f06856;
  font-size:x-small;
}
page-list {
  .product-items{
    text-align:center;
    padding:0;
    width:100%;

  }
  .product-item:nth-child(2n){
    background-color:#e9c7bb;
  }
  .product-item:nth-child(2n+1){
    background-color:#badeea;
  }
  .product-item{
    margin:0 0 2px 0;
    padding:0;
    width:100%;
    position:relative;
  }
  /*.odd{
      background-color:#badeea;
  }
  .even{
      background-color:#e9c7bb;
  }*/
  .product{
    margin:0;
    display:inline-block;
    vertical-align:top;
    /*border:1px solid #808080;*/
    padding-top:5px;
    padding-bottom:5px;
    font-family:Tahoma;
  }
  .product p{
    color:#ac1212;
    font-size:x-small;
    font-weight:bolder;
  }
  .product-title{
    font-size:medium;
    font-weight:bold;
    color:#2286ad;
    margin-top:1px;
    margin-right:1p;
    margin-bottom:1px;
  }
  .price-title{
    font-size:larger;
    font-weight:bold;
    color:#ac1212;
  }
  .product-image{
    width:12%;
  }
  .product-image img{
    width:70px;
    height:70px;margin-left:1px;
    margin-top:40px;
    margin-right:40p;
  }
  .product-info{
    width:53%;
    text-align:center;
    margin-left:10px;
  }
  .product-price{
    width:28%;
    margin-left:0;
  }
  .product-price p a{
    color:#12ac16;
    text-decoration:none;
  }
}
