<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon class="fa fa-search"></ion-icon>
      </button>
      <button ion-button icon-only (click)="finishingCart()">
        <div *ngIf="productservice.hasProduct">
          {{productservice.savedItems.length}}
        </div>
        <ion-icon class="fa fa-shopping-cart"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>
<!---->
<ion-content style="text-align: right">
  <ion-searchbar
    [(ngModel)]="myInput"
    [showCancelButton]="shouldShowCancel"
    (ionInput)="searchItems($event)"
    (ionCancel)="onCancel($event)"
    cancelButtonText="لغو"
    cancelButtonText="جست و جو">
  </ion-searchbar>
      <ion-card *ngFor="let item of items;let i = index;">
        <ion-row>
          <ion-col>
            <ion-thumbnail item-start>
              <img src="{{item.fileSource}}"/>
            </ion-thumbnail>
          </ion-col>
          <ion-col>
            <h4 class="text-center">{{item.title}}</h4>
            <ion-row *ngFor="let properties of item.properties">
              <ion-col>
                {{properties.value}}
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col>
            <div>{{item.cost}} تومان</div>
            تعداد          <input type="text" class="cnt" [(ngModel)]="item.qty" style="width: 20px;"/>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <button ion-button full (click)="itemTapped($event,item)">اضافه به سبد خرید</button>
          </ion-col>
        </ion-row>
      </ion-card>
</ion-content>
