<!--
  Generated template for the MyListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar>
    <button ion-button menuToggle left>
      <ion-icon name="menu"></ion-icon>
      <img src="assets/Images/logo.png" class="logo" style="width: 48px;"/>
    </button>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon class="fa fa-search"></ion-icon>
      </button>
      <button ion-button icon-only>
        <ion-icon class="fa fa-shopping-cart"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content >
  <div class="bg-grey">
    <span class="pull-right">سابقه سفارشات</span>
  </div>
  <table width="100%">
    <thead>
    <th style="text-align: center">تاریخ</th>
    <th style="text-align: center">شماره فاکتور</th>
    <th style="text-align: center">وضعیت</th>
    <th style="text-align: center">جزئیات</th>
    </thead>
    <tbody>
    <tr *ngFor="let order of orders">
      <td>{{order.orderDate}}</td>
      <td>{{order.orderSerial}}</td>
      <td>{{order.orderStatus == null ? '' : order.orderStatus.value}}</td>
      <td><button ion-button icon-only (click)="openFactorDetails(order)">
        <ion-icon class="fa fa-receipt"></ion-icon>
      </button></td>
    </tr>
    </tbody>
  </table>
  <!--<ion-row color="buttoncolor">
    <ion-col></ion-col>
    <ion-col></ion-col>
    <ion-col></ion-col>
  </ion-row>-->

<!--<ion-row *ngFor="let order of orders">
  <ion-col>
      {{order.orderDate}}
  </ion-col>
  <ion-col>
      {{order.orderSerial}}
  </ion-col>
  <ion-col>
      <button ion-button icon-only (click)="openFactorDetails(order)">
          <ion-icon class="fa fa-receipt"></ion-icon>
        </button>
  </ion-col>
</ion-row>-->
  </ion-content>
