page-my-list {
  tr:nth-child(even) {background: #86d09d}
  tr:nth-child(odd) {background: #FFF}
  table{text-align: center !important}
  thead{background-color: #be4041;color: #FFF;
    padding: 10px;}
}
