page-shopping {
	h2.bg-grey {
		margin-top: 0;
		margin-bottom: 0;
		height: 50px;
		padding-top: 15px;
		background: #eee;
		color: #000;
	}
	th: {text-align: center;}
	td: {text-align: center;}
	tr:nth-child(even) {background: #86d09d}
  tr:nth-child(odd) {background: #FFF}
  table{text-align: center !important}
  thead{background-color: #be4041;color: #FFF;
    padding: 10px;}
}
