@font-face {
    font-family: 'BYekan';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/BYekan.eot?#') format('embedded-opentype'), url('fonts/BYekan.woff') format('woff'), url('fonts/BYekan.ttf') format('truetype');
}
body {
    margin: 0;
    padding: 0;
    font-family:BYekan;
}

.content .header {
    height: 70px;
    background: linear-gradient(135deg, rgba(76, 179, 133, 1) 15%, rgba(23, 142, 79, 1)100%);
    padding-top:15px;
}

    .content .header .row {
        margin-right: 0;
        right:0;
        position:relative;
        color:#fff;
    }

.header-icon-right {
    display: inline;
    font-size: 30px;
    margin-right: 5px;
    direction: rtl;
}
.header-icon-left {
    display: inline;
    font-size: 30px;
    margin-left: 10px;
    /*direction: ltr;*/
}
.logo{
    width:45px;
}
.form-group, .list-group{
    margin-top:20px;
    padding:10px;
    font-family:BYekan;
}
.form-group{
    border:2px solid #00a22b;
    border-radius:10px;
}
.list-group li{
    border:none;
}
legend{
    border-bottom:2px solid #00a22b;
    font-family:BYekan;
}
.form-control{
    border:2px solid #00a22b;
}
select.form-control option{
    color:#000;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #000;
}
.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #000;
}
.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #000;
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #000;
}
.form-control::-ms-input-placeholder { /* Microsoft Edge */
   color:    #000;
}

.form-control::placeholder { /* Most modern browsers support this now. */
   color:    #000;
}
button{
    margin-top:10px;
    width:50px;
}
.img-container img{
    width:70%;
}
.img-container .login-logo{
    margin-top:20%;
    width:25%;
}
.green-bg{
    /*width:100%;*/
    height:auto;
    /*margin:0;*/
    background: #289a60;
    
}

/*--------------------Triangle-----------------------*/
.arrow_box {
	position: relative;
	background: #fff;
	border: 2px solid #fff;
}
.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #88b7d5;
	border-width: 30px;
	margin-left: -30px;
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #c2e1f5;
	border-width: 36px;
	margin-left: -36px;
}
/*-----------------End of Triangle-------------------*/